<img align="right" width="200" height="200" src="https://static.wikia.nocookie.net/lego/images/2/23/PPG_logo.png"> 

# Weekend Project - Theater Simulation - Python 
 


## Group: Power Puff Girls

### Members: Wejdan Al-Ahmadi - Sara Aldubaie
<hr style="border:2px solid gray"> </hr>

In [6]:
# import packages 
import pandas as pd 
import numpy as np
import random
import math

In [7]:
# ticket pricing
adults_t_price = 15.99
children_t_price = 9.99
senior_t_price = 12.99

# each screen seats capacity 
screen_capacity = {1:30, 2:40,3:50,4:70,5:35,6:100,7:55} #screen_number:seat_capacity

#dictionaries with information about each movie {movie_ID: [movie title, Genre, Rating, and Description]}
movie_list= {1: ["The Hobbit", "Adventure", "R", "A reluctant Hobbit, Bilbo Baggins, sets out to the Lonely Mountain with a spirited group of dwarves to reclaim their mountain home, and the gold within it from the dragon Smaug."],
             2: ["Totoro","Animation","G","When two girls move to the country to be near their ailing mother, they have adventures with the wondrous forest spirits who live nearby. "],
             3: ["Howls Moving Castle","Animation","G","When an unconfident young woman is cursed with an old body by a spiteful witch, her only chance of breaking the spell lies with a self-indulgent yet insecure young wizard and his companions in his legged, walking castle. "], 
             4: ["Spirited Away","Animation","G","During her family's move to the suburbs, a sullen 10-year-old girl wanders into a world ruled by gods, witches, and spirits, and where humans are changed into beasts."],
             5: ["Pokemon 4Ever","Animation","G","Ash must stop a hunter who forces the mythical Pok√©mon Celebi to help him destroy a forest."],
             6: ["Harry Potter","Adventure","R","Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes in their effort to destroy the Dark Lord as the final battle rages on at Hogwarts."], 
             7: ["The Dark Knight", "Action", "R","When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice."], 
             8: ["The Lord of the Rings", "Action", "R","Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring."], 
             9: ["Inception", "Action", "R","A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O."],
             10: ["The Matrix", "Action", "R","When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence"],
             11: ["Parasite", "Comedy", "R","Greed and class discrimination threaten the newly formed symbiotic relationship between the wealthy Park family and the destitute Kim clan."],
             12: ["Love and Monsters", "Comedy", "R","Seven years after he survived the monster apocalypse, lovably hapless Joel leaves his cozy underground bunker behind on a quest to reunite with his ex."],
             13: ["Big Mommas", "Comedy", "R","Malcolm Turner and his stepson Trent go undercover at an all-girls school to flush out a killer."],
             14: ["Bridge to Terabithia","Fantasy","G","A preteen's life turns upside down when he befriends the new girl in school and they imagine a whole new fantasy world to escape reality."],
             15: ["Thunder Force","Fantasy","R","In a world where supervillains are commonplace, two estranged childhood best friends reunite after one devises a treatment that gives them powers to protect their city."],
             16: ["The Nevers","Fantasy","G","An epic tale following a gang of Victorian women who find themselves with unusual abilities, relentless enemies, and a mission that might change the world."],
             17: ["Them","Horror","R","A Black family moves to an all-white Los Angeles neighborhood where malevolent forces, next door and otherworldly, threaten to taunt, ravage and destroy them."],
             18: ["Split","Horror","R","Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th."],
             19: ["Us","Horror","R","A family's serene beach vacation turns to chaos when their doppelg?ngers appear and begin to terrorize them."] 
            } 

# dayes of the week 
days = {1:"saturday",2:"sunday",3:"monday",4:"tuesday", 5:"wensday", 6:"thursday", 7:"friday"}

# empty dictionaries to store data in it 
theater_data = {
    "Day": [],
    "Movie": [],
    "Rating":[],
    "Seats_Occupied":[], 
    "Num_children":[], 
    "Num_Adults":[],
    "Num_Seniors":[],
    "Screen":[],
    "Total_Seats_Available":[]
}

In [8]:
def populate_theater_data():
    #load data into a DataFrame object:
    theater_df = pd.DataFrame(theater_data)

    # adding data to the theater_data data frame 

    for day in days: # looping through days of the week (1:7)
        #print(day)
        for x in range(1,4):
            for screen in range(1,8):#looping through number of screens in the theater 
                movie_index = np.random.randint(1,19) # select random movie 
                movie_title = movie_list[movie_index][0] # movie title 
                movie_rating = movie_list[movie_index][2] # rating 
                total_seats_available = screen_capacity[screen]

                if movie_rating == 'R':
                    seats = np.random.randint(0,3,screen_capacity[screen])# 0=none 1=adult 2=senior  3=children
                    seats_occupied = np.count_nonzero(seats) # number of occupied seats in screen
                    num_adults = np.count_nonzero(seats == 1)# number of adult seats 
                    num_senior = np.count_nonzero(seats == 2)# number of senior seats 
                    num_children = 0                         # number of children is zero since rating is R
                elif movie_rating == 'G':
                    seats = np.random.randint(0,4,screen_capacity[screen])# 0=none 1=adult 2=senior  3=children
                    seats_occupied = np.count_nonzero(seats)    # number of occupied seats in screen
                    num_adults = np.count_nonzero(seats == 1   )# number of adult seats 
                    num_senior = np.count_nonzero(seats == 2)   # number of senior seats 
                    num_children = np.count_nonzero(seats == 3) # number of children seats


                # assign the data to dictionary
                data = {
                    "Day": [day],        # current day in the loop 
                    "Movie": [movie_title], # current movie in the loop 
                    "Rating":[movie_rating], # current movie rating in the loop 
                    "Seats_Occupied":[seats_occupied], # current occupied seats in the loop 
                    "Num_children":[num_children],  # current occupied seats for children in the loop 
                    "Num_Adults":[num_adults], # current occupied seats for adults in the loop 
                    "Num_Seniors":[num_senior], # current occupied seats for senior in the loop 
                    "Screen":[screen], # current screen number in the loop 
                    "Total_Seats_Available":[total_seats_available] # current screen seats number in the loop 
                        }
                # storing the dictionary in dataframe 
                df2 = pd.DataFrame(data)
                theater_df = theater_df.append(df2, ignore_index=True)

    return theater_df



pd.DataFrame(populate_theater_data())

,Day,Movie,Rating,Seats_Occupied,Num_children,Num_Adults,Num_Seniors,Screen,Total_Seats_Available
0,1.0,Harry Potter,R,16.0,0.0,9.0,7.0,1.0,30.0
1,1.0,Harry Potter,R,26.0,0.0,18.0,8.0,2.0,40.0
2,1.0,Love and Monsters,R,34.0,0.0,13.0,21.0,3.0,50.0
3,1.0,Spirited Away,G,54.0,15.0,20.0,19.0,4.0,70.0
4,1.0,Harry Potter,R,26.0,0.0,12.0,14.0,5.0,35.0
...,...,...,...,...,...,...,...,...,...
142,7.0,Howls Moving Castle,G,41.0,10.0,20.0,11.0,3.0,50.0
143,7.0,The Matrix,R,45.0,0.0,21.0,24.0,4.0,70.0
144,7.0,Love and Monsters,R,23.0,0.0,14.0,9.0,5.0,35.0
145,7.0,Thunder Force,R,64.0,0.0,29.0,35.0,6.0,100.0
146,7.0,Pokemon 4Ever,G,39.0,14.0,12.0,13.0,7.0,55.0

In [4]:
# This function takes the theater dataframe and returns the revenue of each weekday

def get_weekly_rev(theater_df): 
    revenues = {}                                            # store weekly revenues
    for i in range(1,8):                                     # loop through the week
        if(i==7):                                            # check if its friday
            senior_t=senior_t_price-(senior_t_price*0.1)     # apply 10% discount for seniors
        else:
            senior_t=senior_t_price

        temp_day = theater_df[theater_df["Day"]==i]          # get a subset of the data for each day

        num_children_ar = np.array(temp_day['Num_children']) # get the num of children,adults,seniors for day i
        num_adult_ar = np.array(temp_day['Num_Adults'])      
        num_seniors_ar = np.array(temp_day['Num_Seniors'])  

        Sum_Children_ar = num_children_ar*children_t_price   # calculate the sum of all tickets for day i for each screen
        Sum_Adult_ar = num_adult_ar*adults_t_price           
        Sum_Senior_ar = num_seniors_ar*senior_t            

        Sum_Children_Total = np.sum(Sum_Children_ar)         # get the total sum for day i for each ticket
        Sum_Adult_Total = np.sum(Sum_Adult_ar)               
        Sum_Senior_Total = np.sum(Sum_Senior_ar)

        Total_Day_Rev_ar = Sum_Children_Total + Sum_Adult_Total + Sum_Senior_Total   # get the total sum for each screen

        Total_Day_Rev = np.sum(Total_Day_Rev_ar)             # get the overall total sum for the day

        revenues[i]= round(Total_Day_Rev,2)                  # add the total sum to the revenue dictionary
    return revenues

In [5]:
# 1 thousand sundays list -> get max sunday
# 1 thousand mondays list -> get max monday
# 1 thousand tuesdays list -> get max tuesdays   
# 1 thousand wensdays list -> get max wensdays
# 1 thousand thursdays list -> get max thursdays
# 1 thousand fridays list -> get max fridays
# 1 thousand saturdays list -> get max saturdays

#then compare all the maxes (max sunday, max monday...etc) to get the total maximum

In [6]:
# this function simulates populating randomized theater and then getting the total revenue data 
# N number of times and returns a dataframe of all the data

def simulate_theater_rev(tries):
    rowslist = []                                # for combining the dataframe rows of weekly revenue one by one
    
    for i in range(1,tries+1):                   # loop through the number of simulations passed
        theater = populate_theater_data()        # populate random theater data
        weekly_revenue = get_weekly_rev(theater) # get the weekly revenue of that random theater data
        rowslist.append(weekly_revenue)          # append it to the rowlist
    
    All_Week_Rev = pd.DataFrame(rowslist)        # convert the list into a dataframe
    return(All_Week_Rev)

In [7]:
# this function takes a dataframe of weekly revenues and returns the max revenue along with which day it was on
def get_max_rev(All_Week_Rev):
    day_revs = []                                 # to store the max revenue for each day
    
    for i in range(1,8):                          # loop through the week
        max_rev_day = All_Week_Rev[i].max()       # get the max revenue for each day 
        day_revs.append(max_rev_day)              # append each days max revenue
        
    max_day_index = day_revs.index(max(day_revs)) # get the index of the max day revenue
    
    for k,v in days.items():                      # loop through the days dictionary to retrieve the name of the day
        if((max_day_index+1)==k):                 # since index of the list starts from 0 add a 1 and check if it matches a key
            max_day_name = v                      # get the name
                                                  # return the values found
    return(f"The max rev is on day " + max_day_name+ " with a revenue of: " + str(max(day_revs)))

In [8]:
sim_1 = simulate_theater_rev(2)

print(get_max_rev(sim_1))

The max rev is on day tuesday with a revenue of: 11331.87

In [9]:
sim_2 = simulate_theater_rev(100)

print(get_max_rev(sim_2))

The max rev is on day monday with a revenue of: 11887.68

In [10]:
sim_3 = simulate_theater_rev(1000)

print(get_max_rev(sim_3))

The max rev is on day thursday with a revenue of: 11895.72

In [11]:
sim_4 = simulate_theater_rev(1000)

print(get_max_rev(sim_4))

The max rev is on day monday with a revenue of: 11852.34

In [12]:
# recommendation system 
rec_a = {}
rec_c = {}

for i in movie_list: # # looping through all movies 
    if movie_list[i][2] == 'R': # if the movie rating is R it will store recommend adult list
        # assign the movie info to dictionary (movie title, movie genre, movie rating, and movie description)
        rec_a[i] = [movie_list[i][0], movie_list[i][1], movie_list[i][2], movie_list[i][3]]
        
    elif movie_list[i][2] == 'G': # if the movie rating is G it will store recommend children list 
        # assign the movie info to dictionary (movie title, movie genre, movie rating, and movie description)
        rec_c[i] = [movie_list[i][0], movie_list[i][1], movie_list[i][2], movie_list[i][3]]
        
    #--NOTE: for senior it will show all movies genre 

rec_adult = pd.DataFrame(rec_a)       # store it in a dataframe 
rec_children = pd.DataFrame(rec_c)    # store it in a dataframe 
rec_senior = pd.DataFrame(movie_list) # store it in a dataframe 

# based on genres


def recommendation(group, genres):
    rec_list = []
        
    if group == 'adult': # if user select movie for adult 
        for x in rec_adult: # looping through adult recommended movies 
            if rec_adult[x][1]== genres: # finding movie with the selected genre  
                rec_list.append(x) # adding the selected movie index to a list
        rec_movie_index = random.choice(rec_list) # choose a random movie to recommend 
                    
        return(print(               # print the result 
f'''
Movie: {rec_adult[rec_movie_index][0]} 
Genre: {rec_adult[rec_movie_index][1]}
Rating: {rec_adult[rec_movie_index][2]}
Description: {rec_adult[rec_movie_index][3]}
'''
        ))

    elif group == 'children': # if user select movie for children 
        for x in rec_children:  # looping through children recommended movies 
            if rec_children[x][1]== genres: # finding movie with the selected genre  
                rec_list.append(x) #adding the selected movie index to a list
        rec_movie_index = random.choice(rec_list) # choose a random movie to recommend 
        return(print(                          # print the result 
f'''
Movie: {rec_children[rec_movie_index][0]}
Genre: {rec_children[rec_movie_index][1]}
Rating: {rec_children[rec_movie_index][2]}
Description: {rec_children[rec_movie_index][3]}
    ''' ))
    
    
    elif group == 'senior':   # if user select movie for children 
        for x in rec_senior:  # looping through children recommended movies 
            if rec_senior[x][1]== genres:  # finding movie with the selected genre 
                rec_list.append(x)  # adding the selected movie index to a listb
        rec_movie_index = random.choice(rec_list)# choose a random movie to recommend 
        return(print(                     # print the result 
f'''
Movie: {rec_senior[rec_movie_index][0]}         
Genre: {rec_senior[rec_movie_index][1]}        
Rating: {rec_senior[rec_movie_index][2]}        
Description: {rec_senior[rec_movie_index][3]}  
'''    ))

    
# run the function recommendation
recommendation('adult', 'Horror') 
recommendation('children', 'Animation') 
recommendation('senior', 'Fantasy')

Movie: Them
Genre: Horror
Rating: R
Description: A Black family moves to an all-white Los Angeles neighborhood where malevolent forces, next door and otherworldly, threaten to taunt, ravage and destroy them.


Movie: Pokemon 4Ever
Genre: Animation
Rating: G
Description: Ash must stop a hunter who forces the mythical Pok√©mon Celebi to help him destroy a forest.


Movie: Bridge to Terabithia
Genre: Fantasy
Rating: G
Description: A preteen's life turns upside down when he befriends the new girl in school and they imagine a whole new fantasy world to escape reality.

In [13]:
# Theater Membership plan 

# monthly cost of subscription 35$

# Membership perks: 

# 1) 3 movies per week

# 2) 2 free snacks per visit

# 3) point and reward system: 
#   - How to gain points? 
#     1) Everytime you renew you get 10 points 
#     2) Everytime you renew on a consecutive streak you get 3 extra points per month and it adds up till 6 months 
#     (first month: 10, second month: 13, third month: 16, fourth month: 19, fifth month: 22, sixth month: 25, for a total = 105 for six months), after six months its a 25 point increase per month streak after
#     As an incentive to bring people back every month we added this system so the customer can gather more points. 
#     The more consecutive uninterrupted months they resubscribe the more points they gather
#     
#   - Rewards: 
#     1) one Extra movie = 25 points  
#     2) one Extra snack = 5 points  
#     3) 10% discount = 10 points  

# 4 - vouchers you can use or give to someone else worth (5 dollars)

# 5 - one free voucher and snacks on your birthday

In [14]:
#this function is to calculate reward points for 6 consecutive months or less
def full_streak(streak,consecutive_month_points,renewal_points):
    if(streak==1|streak-5==1):
        consecutive_month_points = consecutive_month_points+renewal_points
  
    if(streak ==2|streak-4==2):
        consecutive_month_points = consecutive_month_points+renewal_points+3
  
    if(streak ==3|streak-3==3):
        consecutive_month_points = consecutive_month_points+renewal_points+6
  
    if(streak ==4|streak-2==4):
        consecutive_month_points = consecutive_month_points+renewal_points+9
  
    if(streak ==5|streak-1==5):
        consecutive_month_points = consecutive_month_points+renewal_points+12
  
    if(streak ==6):
        consecutive_month_points = consecutive_month_points+renewal_points+15
  
    return(consecutive_month_points)

In [15]:
# This dataframe variable is for the membership
membership_Data = {
    "customer_id":[1,2,3,4,5,6,7,8,9,10],
    "streak":[10,5,7,0,4,6,21,34,2,13],
    "total_months_subbed":[10,12,9,5,4,6,27,34,2,15],
    "points":[0,0,0,0,0,0,0,0,0,0],
    "voucher":[0,0,0,0,0,0,0,0,0,0],
    "movies_left":[0,0,0,0,0,0,0,0,0,0]
}

membership_DF = pd.DataFrame(membership_Data)

#this function is to calculate the points and vouchers for each customer in the imported data
def points_and_vouchers(membership_DF): 


    for i in range(1,len(membership_DF["customer_id"])+1):

            # we get the subset customers so we can loop through them
        customer_N = membership_DF[membership_DF["customer_id"]==i]


            # get the customers streak 
        streak = int(customer_N["streak"])

            # get the customers total months
        total_months_subbed = int(customer_N["total_months_subbed"])

            # then we seperate the streak months from the total months to get the non-consecutive months
        non_consecutive_months = total_months_subbed - streak

        renewal_points = 10


            # calculate the non consecutive months points 
        non_consecutive_months_points = non_consecutive_months *renewal_points

        consecutive_month_points = 0
            # calculate the consecutive months points


            # check if the streak is 6 months or less
        if(streak<=6):

                # call the method to calculate the 6 or less month streak
                consecutive_month_points = full_streak(streak,consecutive_month_points,renewal_points)

            # if the streak is higher than 6 months 
        elif(streak>6):

                # first we calculate the 6 month streak so the remaining months of the streak will be worth 25 points because that is the cap

                # this temp is the number of capped months after 6 months (example: 10 month streak means your capped at 6 and have 4 extra months worth 25 points)
            temp = streak -6

                # call the 6 month streak method to calculate the points
            consecutive_month_points = full_streak(6,consecutive_month_points,renewal_points)

                # the remaining points are worth 25 for each consecutive month 
            consecutive_month_points = (temp*25) +consecutive_month_points



            # add up the total points by adding both the consecutive and non consecutive points
        total_points = non_consecutive_months_points + consecutive_month_points


            # you get 1 voucher per month plus 1 extra voucher on your birthday 
        vouchers = total_months_subbed

            # this is to calclulate 1 extra voucher every 12 months
        if(total_months_subbed >= 12):
            vouchers = vouchers + math.floor(total_months_subbed/12)


            # this is the number of movies the customer has left to use up 
        movies_left = 3

            # store all the information in the dataframe and return it
        membership_DF.loc[(membership_DF["customer_id"]==i), "points"] = total_points
        membership_DF.loc[(membership_DF["customer_id"]==i), "voucher"] = vouchers
        membership_DF.loc[(membership_DF["customer_id"]==i), "movies_left"] = movies_left




          

    return membership_DF

In [16]:
# call points and vouchers to fill in the dataframe
membership_DF = points_and_vouchers(membership_DF)
membership_DF

   customer_id  streak  total_months_subbed  points  voucher  movies_left
0            1      10                   10     125       10            3
1            2       5                   12      92       13            3
2            3       7                    9      70        9            3
3            4       0                    5      50        5            3
4            5       4                    4       0        4            3
5            6       6                    6      25        6            3
6            7      21                   27     460       29            3
7            8      34                   34     725       36            3
8            9       2                    2       0        2            3
9           10      13                   15     220       16            3

In [17]:
# This dataframe variable is for the membership rewards 

membership_rewards_Data = {
    "reward":["one_extra_movie","one_extra_snack","10%_discount"],
    "points_cost":[25,5,10]

}
membership_rewards_DF = pd.DataFrame(membership_rewards_Data)



# This function is to redeem rewards based on the amount of points the customer has
def redeem_reward (reward,customer_id):
  
  #check if the customer has enough points 
    customer_points = membership_DF.loc[(membership_DF["customer_id"]==customer_id), "points"] 
  #get the rewards point cost 
    reward_cost = membership_rewards_DF.loc[(membership_rewards_DF["reward"]==reward), "points_cost"] 
  
  #make sure the customer has enough points by comparing the cost and the points in their wallet
    if(int(customer_points) > int(reward_cost)):
        print("You have redeemed "+reward+" for a total of "+reward_cost.to_string(index=False)+ " points!")

        #subtract the cost and update the remaining balance
        remaining_balance = customer_points - reward_cost
        membership_DF.loc[(membership_DF["customer_id"]==customer_id), "points"]  = remaining_balance

    else:
        print("sorry you dont have enough points!")

  
  # we access the updated points after reduction to display how many points the customer has left
    customer_points = membership_DF.loc[(membership_DF["customer_id"]==customer_id), "points"] 
    print("Your remaining balance is "+customer_points.to_string(index=False))
  
    return membership_DF

In [18]:

# ----- Redeem Reward call ----- #
redeem_reward("one_extra_movie", 1)

You have redeemed one_extra_movie for a total of 25 points!
Your remaining balance is 100

   customer_id  streak  total_months_subbed  points  voucher  movies_left
0            1      10                   10     100       10            3
1            2       5                   12      92       13            3
2            3       7                    9      70        9            3
3            4       0                    5      50        5            3
4            5       4                    4       0        4            3
5            6       6                    6      25        6            3
6            7      21                   27     460       29            3
7            8      34                   34     725       36            3
8            9       2                    2       0        2            3
9           10      13                   15     220       16            3

In [19]:
# this function converts vouchers to points
def convert_to_points(redeemable,customer_id):
    
    # get the customers voucher
    customer_vouchers = int(membership_DF.loc[(membership_DF["customer_id"]==customer_id), "voucher"])
    
    # get the customers points
    customer_points = int(membership_DF.loc[(membership_DF["customer_id"]==customer_id), "points"])
    
    # make sure vouchers dont go below 0
    if(customer_vouchers<=0):
        return("Not enough redeemables")

    
    # check if they are above or equal 1 
    if(customer_vouchers>=1):
        
        # add points and update 
        customer_points+=25
        membership_DF.loc[(membership_DF["customer_id"]==customer_id), "points"]=customer_points 
        
        # update redeemed voucher and get updated voucher count
        membership_DF.loc[(membership_DF["customer_id"]==customer_id), "voucher"]= customer_vouchers-1
        customer_vouchers = int(membership_DF.loc[(membership_DF["customer_id"]==customer_id), "voucher"])
        
        # print the results
        print("You have successfully redeemed 1 " + redeemable + " for 25 points!") 

        print("Your new point balanace is "+str(customer_points) + " and your remaining "+ redeemable+" is " +str(customer_vouchers))
        
    return membership_DF

In [20]:
convert_to_points("voucher",1)

You have successfully redeemed 1 voucher for 25 points!
Your new point balanace is 125 and your remaining voucher is 9

   customer_id  streak  total_months_subbed  points  voucher  movies_left
0            1      10                   10     125        9            3
1            2       5                   12      92       13            3
2            3       7                    9      70        9            3
3            4       0                    5      50        5            3
4            5       4                    4       0        4            3
5            6       6                    6      25        6            3
6            7      21                   27     460       29            3
7            8      34                   34     725       36            3
8            9       2                    2       0        2            3
9           10      13                   15     220       16            3